emms
tramp
var
tangle
straight/repos
straight/build
straight/build-cache.el
straight/modified
projects
transient
org-roam.db
rime
custom.el
eln-cache
auto-save-list
.org-id-locations
bookmarks
private.org
.lsp-session-*
.emacs.desktop
.cache
eshell
session.*
tree-sitter
multisession
